repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-merge-conflict
  - id: check-json

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check # linter
      args: [ --fix ]
    - id: ruff-format # formatter

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: "v1.103.0"
  hooks:
    - id: terraform_fmt
      args:
        - --args=-recursive
    - id: terraform_validate
